@model List<TrainManagementWeb.Models.ViewModel.CartItemViewModel>
    @{
        ViewBag.Title = "InfoCart";
        Layout = "~/Views/Shared/_Layout.cshtml";
        foreach(var item in Model)
        {
            var k = item.arStation;
        }
    }

    <div class="colorlib-wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="wrap-division">
                                <div class="col-md-12 col-md-offset-0 heading2 animate-box">
                                    <h2>Booking cart</h2>
                                </div>
                                @if (Model != null && Model.Count > 0)
                                {
                            <div class="row">

                                <table class="table">
                                    <thead>
                                        <tr>
                                            <td>Train Code</td>
                                            <td>Route</td>
                                            <td>Seat No</td>
                                            <td>Coach No</td>
                                            <td>Class</td>
                                            <td>Departure Time</td>
                                            <td>Departure Date</td>
                                            <td>Price</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                        <tr>
                                            <td>@(!string.IsNullOrEmpty(item.trainCode) ? item.trainCode : string.Empty  )</td>
                                            <td>@(!(string.IsNullOrEmpty(item.depStation) && string.IsNullOrEmpty(item.arStation)) ? item.depStation +"-" + item.arStation : string.Empty ) </td>
                                            <td>@(item.seatNum.HasValue ? item.seatNum.Value.ToString() : string.Empty )</td>
                                            <td>@(item.coachNum.HasValue ? item.coachNum.Value.ToString() : string.Empty ) </td>
                                            <td>@item.classSeat</td>
                                            <td>@(!(string.IsNullOrEmpty(@item.depTime)) ? @item.depTime : string.Empty  )</td>
                                            <td>@(!(string.IsNullOrEmpty(item.deDay)) ? item.deDay : string.Empty )</td>
                                            <td>@(item.price.HasValue ? item.price.Value.ToString("N0"): string.Empty ) </td>
                                        </tr>
                                        }



                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td>Total</td>
                                            <td>@ViewBag.Total</td>                                           
                                        </tr>
                                    </tfoot>

                                </table>

                                <a href="/Booking/Detail/?trainCode=@ViewBag.trainCode&departureStationName=@ViewBag.depStation&arrivalStationName=@ViewBag.arStation&departureDate=@ViewBag.deDay">
                                    <button id="btnPayment" class="btn">Continue Booking</button>
                                </a>
                                <a href="/Cart/Payment">
                                    <button id="btnPayment" class="btn">Check out</button>
                                </a>


                            </div>
                                }
                                else
                                {
                                    <span class="alert alert-danger">No Item in Cart</span>
                                }



                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

