@model List<TrainManagementWeb.Models.EF.View_GetTrainSchedule>
@using TrainManagementWeb.Common;
@{
    ViewBag.Title = "GetTrainSchedule";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="content-page">
    <div class="content">

        <!-- Start Content-->
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <h4 class="page-title">Schedule List</h4>
                    </div>
                </div>
            </div>
            <!-- end page title -->


            <div class="row">
                <div class="col-sm-12">
                    <div class="card-box">
                        <div class="mb-2">
                            <div class="row">
                                <div class="col-12 text-sm-center form-inline">
                                    <div class="form-group mr-2">
                                        @*<a href='@Url.Action("Create", "Schedule")'>*@                                      
                                        <a href="/Admin/Schedule/Create/@ViewBag.TrainId">
                                            <button class="btn btn-primary"><i class="mdi mdi-plus-circle mr-2"></i> Add Schedule</button>
                                        </a>

                                    </div>

                                    <div class="form-group">
                                        <input id="demo-input-search2" type="text" placeholder="Search" class="form-control" autocomplete="off">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <table id="demo-foo-addrow" class="table table-centered table-striped table-bordered mb-0 toggle-circle" data-page-size="7">
                            <thead>
                                <tr>
                                    <th data-sort-ignore="true" class="min-width"></th>
                                    <th data-sort-initial="true" data-toggle="true">Train No</th>
                                    <th>Train Name</th>
                                    <th>Station Name</th>
                                    <th>Departure Date</th>
                                    <th>Departure Time</th>
                                </tr>

                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr id="row_@item.id" @*, onclick="location.href = '@Url.Action("Edit", "Schedule", new { id=item.id })'"*@>
                                    <td class="text-center">
                                        <div style="margin:2px">
                                            @Ajax.RawActionLink(string.Format("<button class='demo-delete-row btn btn-danger btn-xs btn-icon'><i class='fa fa-times'></i></button>"), "Delete", "Schedule", new { @id = item.id }, new AjaxOptions
                                           {
                                               Confirm = "Do you want to delete this record?",
                                               OnComplete = "$('#row_" + @item.id + "').remove()",
                                               HttpMethod = "Delete"
                                           },
                                            new { })
                                        </div>

                                        <div style="margin:2px">
                                            <a href="/Admin/Schedule/Edit/@item.id">
                                                <button class='btn btn-primary btn-xs btn-icon'><i class='mdi mdi-pencil'></i></button>
                                            </a>
                                        </div>
                                    </td>
                                    <td>@item.TrainNo</td>
                                    <td>@item.TrainName</td>
                                    <td>@item.StationName</td>
                                    <td>@item.DepartureDate.ToString("dd/MM/yyyy")</td>
                                    <td>@item.DepartureTime</td>
                                </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr class="active">
                                    <td colspan="6">
                                        <div class="text-right">
                                            <ul class="pagination pagination-split justify-content-end footable-pagination m-t-10"></ul>
                                        </div>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div> <!-- end card-box -->
                </div> <!-- end col -->
            </div>
            <!-- end row -->

        </div> <!-- container -->

    </div> <!-- content -->


</div>

